button {
	cursor: pointer;
	appearance: none;
	border: none;
	outline: none;
	background: none;
}
.app {
	width: 100vw;
	main {
		margin-left: 45px;
		flex: 1 1 0;
		padding: 2rem;
		@media (max-width: 1024px) {
			height: 100vh;
			margin-left: 0px;
		}
	}
}