:root {
	--primary: #4ade80;
	--primary-alt: #22c55e;
	--grey: #64748b;
	--dark: #1e293b;
	--dark-alt: #334155;
	--light: #f1f5f9;
	--sidebar-width: 200px;
	--background: #181818;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}
body {
    background: rgb(26,46,73);
    background: linear-gradient(90deg, rgba(26,46,73,1) 25%, rgba(70,58,140,1) 100%); 
    color: var(--light);
}
.table-color {
    background-color: #eee;
}
.separator {
	border: 1.5px solid;
	color: rgb(197, 197, 197);
	opacity: 1;
}
.home-link {
	position: relative;
	z-index: 99;
}
.table-container {
    overflow-x: scroll;
}