@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
	--primary: #eee;
	--primary-alt: #22c55e;
	--grey: #64748b;
	--dark: #42414d;
	--dark-alt: #272525;
	--dark-background:#2b2a33 ;
	--light: #f1f5f9;
	--sidebar-width: 200px;
	--background: #181818;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', arial;
}
body {
    background-color: var(--dark-background);
    color: var(--light);
}
.table-color {
    background-color: #eee;
}
.separator {
	border: 1.5px solid;
	color: rgb(197, 197, 197);
	opacity: 1;
}
.home-link {
	position: relative;
	z-index: 99;
}
.table-container {
    overflow-x: scroll;
}